<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeinger.moviestack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:name="com.codeinger.moviestack.utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.codeinger.moviestack.ui.common.fullimage.FullImageActivity"></activity>
        <activity android:name="com.codeinger.moviestack.ui.aboutas.AboutAsActivity" />
        <activity android:name="com.codeinger.moviestack.ui.boookmark.BookamrkActivity" />
        <activity android:name="com.codeinger.moviestack.ui.common.person.paging.PersonPagingActivity" />
        <activity android:name="com.codeinger.moviestack.ui.search.SearchActivity" />
        <activity android:name="com.codeinger.moviestack.ui.common.movielist.simplelist.MovieListActivity" />
        <activity android:name="com.codeinger.moviestack.ui.persondetail.PersonDetailActivity" />
        <activity android:name="com.codeinger.moviestack.ui.common.person.simple.PersonSimpleActivity" />
        <activity android:name="com.codeinger.moviestack.ui.common.movielist.paginglist.MovieListPaggingActivity" />
        <activity android:name="com.codeinger.moviestack.ui.moviedetail.MovieDetailActivity" />
        <activity android:name="com.codeinger.moviestack.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codeinger.moviestack.ui.dashboard.MainActivity" />

        <activity
            android:name="com.codeinger.moviestack.ui.splash.IntroScreen"
            android:label="dshfvcdsh" />

    </application>

</manifest>